<!-- Kelompok 06_PSI_2018 -->
<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>DelShop | Tinjauan Produk</title>
	<link rel="stylesheet" th:href="@{css/font-awesome.min.css}"/>
	<th:block th:include="blank :: head"></th:block>
</head>
<body>
<th:block th:include="blank :: header"></th:block>
	<th:block th:include="blank :: navigation2"></th:block>
	<!-- BREADCRUMB -->
	<div id="breadcrumb">
		<div class="container">
			<ul class="breadcrumb">
				<li><a th:href="@{/index}">Beranda</a></li>
				<li><a th:href="@{/jualproduk}">Produk</a></li>
				<li><a th:href="@{/jualproduk}">Sepatu</a></li>
				<li><a th:href="@{/rincianproduk}">Blue Nike Shoes</a></li>		
				<li class="active">Tinjauan Produk</li>				
			</ul>
		</div>
	</div>
	<!-- /BREADCRUMB -->
	
	
	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container" th:each="f:${revprod}">
			<!-- row -->
			<div class="row">				
				<div class="col-md-3">
					<h2 class="product-name" th:text="${f.namaProduk}"></h2>
					<div class="shiping-methods" >
						<div class="section-title">
							<h5 class="title">Info Penjual</h5>
						</div>
						<p>Penjual :<label for="shipping-1" th:text="${f.user.namaDepan}"></label></p>								
						<p>Nomor Handphone :<label th:text="${f.user.noTelp}"></label></p>																				
					</div>
					<div id="product-main-view">
						<img th:src="'/gambar/'+${f.fotoProduk}" alt="">							
					</div>												
				</div>
				<div class="col-md-9">
					<div class="section-title">
						<h4 class="title">Tinjauan Produk</h4>
					</div>					 
					 <div class="panel panel-default" >
					  <div class="panel-heading" >
					  	<form role="form" th:action= "@{'/buatreview/' + ${f.idProduk}}" th:object = "${form}" method = "post">
					    	<div class="form-group">					      
					      		<textarea class="form-control" th:field = "*{komentarProduk}"rows="3" id="comment" placeholder="Tambahkan tinjauan anda untuk produk ini"></textarea>
					    	</div>					    	
					    	<button class="primary-btn" type = "submit">Kirim Tinjauan</button>									    
					 	</form>
					  </div>
					</div>				
					<div class="panel panel-default" th:each = "r:${rev}">
					  <div class="panel-heading"><strong>
					  	<span th:text = "${r.user.namaDepan}"></span><span  th:text = "${r.user.namaBelakang}"></span>
					  	<p class="pull-right" th:text = "${r.tanggalTinjauanProduk}"></p>					  	
					  </strong></div>
					  <div class="panel-body" th:text = "${r.komentarProduk}"></div>
					</div>		 				 
				</div>						  
			</div>
		</div>
	</div>				
	<!-- jQuery Plugins -->
	<script th:src="@{js/jquery.min.js}"></script>
	<script th:src="@{js/bootstrap.min.js}"></script>
	<script th:src="@{js/slick.min.js}"></script>
	<script th:src="@{js/nouislider.min.js}"></script>
	<script th:src="@{js/jquery.zoom.min.js}"></script>
	<script th:src="@{js/main.js}"></script>
</body>
</html>