<!-- Kelompok 06_PSI_2018 -->
<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>DelShop | Jasa </title>
	<link rel="stylesheet" th:href="@{css/font-awesome.min.css}"/>
	<th:block th:include="blank :: head"></th:block>
</head>
<body>
	<th:block th:include="blank :: header"></th:block>
	<th:block th:include="blank :: navigation2"></th:block>
	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- section-title -->
				<div class="col-md-12">
					<center>
						<div class="section-title">
							<h2 class="title">Jasa yang Tersedia</h2>
						</div>
					</center>
				</div>
			</div>
		</div>
	</div>		
	
	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- banner -->
				<div>
				<div class="col-md-3 col-sm-6">
					<a class="banner banner-1" th:href="@{'/subjasa/'+${1}}">
						<img src="./img/banner10.jpg" alt="">
						<div class="banner-caption text-center">
							<h2 class="white-color">DESAIN</h2>
						</div>
					</a>
				</div>
				<!-- /banner -->

				<!-- banner -->
				<div class="col-md-3 col-sm-6">
					<a class="banner banner-1" th:href="@{'/subjasa/'+${2}}">
						<img src="./img/banner11.jpg" alt="">
						<div class="banner-caption text-center">
							<h2 class="white-color">EDITING</h2>
						</div>
					</a>
				</div>
				<!-- /banner -->

				<!-- banner -->
				<div class="col-md-3 col-md-offset-0 col-sm-6 col-sm-offset-3">
					<a class="banner banner-1" th:href="@{'/subjasa/'+${3}}">
						<img src="./img/banner12.jpg" alt="">
						<div class="banner-caption text-center">
							<h2 class="white-color">MUSIC</h2>
						</div>
					</a>
				</div>
				<!-- banner -->
				<div class="col-md-3 col-md-offset-0 col-sm-6 col-sm-offset-3">
					<a class="banner banner-1" th:href="@{'/subjasa/'+${4}}">
						<img src="./img/banner13.jpg" alt="">
						<div class="banner-caption text-center">
							<h2 class="white-color">Tutorial</h2>
						</div>
					</a>
				</div>
				</div>
				<!-- /banner -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->
	
	<th:block th:include="blank :: footer"></th:block>
	
		<!-- jQuery Plugins -->
	<script th:src="@{js/jquery.min.js}"></script>
	<script th:src="@{js/bootstrap.min.js}"></script>
	<script th:src="@{js/slick.min.js}"></script>
	<script th:src="@{js/nouislider.min.js}"></script>
	<script th:src="@{js/jquery.zoom.min.js}"></script>
	<script th:src="@{js/main.js}"></script>
</body>
</html>