<!-- Kelompok 06_PSI_2018 -->
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>DelShop | Layanan Jasa Anda</title>
	<link rel="stylesheet" th:href="@{css/font-awesome.min.css}"/>
	<th:block th:include="blank :: head"></th:block>
</head>
<body>
	<th:block th:include="blank :: header"></th:block>
	<th:block th:include="blank :: navigation3"></th:block>
	
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- section-title -->
				<div class="col-sm-3">
					<div class="section-title">
						<h3 class="title">Jasa Anda</h3>						
					</div>
					<p> Klik tombol dibawah ini untuk menambahkan jasa anda.</p>
					<a th:href="@{/tambahjasa}"><button class="primary-btn">Tambah Layanan Jasa</button></a>
					<br><br>
					<p> Klik tombol dibawah ini melihat laporan pemesanan jasa anda.</p>
					<a th:href="@{/riwayatpembelian}"><button class="primary-btn">Pemesanan Jasa</button></a>
				</div>
				<div class="col-sm-7">
					<div class="order-summary clearfix">					
					<table class="shopping-cart-table table">
						<thead>
							<tr>
								<th><br></th>
								<th></th>																
								<th class="text-right"></th>
								<th class="text-right"></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="jasa: ${listJasa}">
								<td class="details">
									<a th:text="${jasa.nama_jasa}"></a>
								</td>
								<td></td>							
								<td class="text-center"><a th:href="@{/editjasa}"><button class="primary-btn">Edit</button></a></td>
								<td class="text-center"><button class="main-btn icon-btn"><i class="fa fa-close"></i></button></td>
							</tr>							
						</tbody>						
					</table>					
				</div>				
				</div>
			</div>
		</div>
	</div>	
	
		<!-- jQuery Plugins -->
	<script th:src="@{js/jquery.min.js}"></script>
	<script th:src="@{js/bootstrap.min.js}"></script>
	<script th:src="@{js/slick.min.js}"></script>
	<script th:src="@{js/nouislider.min.js}"></script>
	<script th:src="@{js/jquery.zoom.min.js}"></script>
	<script th:src="@{js/main.js}"></script>

</body>
</html>