<!-- Kelompok 06_PSI_2018 -->
<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>DelShop | Penyedia Jasa</title>
	<link rel="stylesheet" th:href="@{css/font-awesome.min.css}"/>
	<th:block th:include="blank :: head"></th:block>
</head>

<body>
	<th:block th:include="blank :: header"></th:block>
	<th:block th:include="blank :: navigation3"></th:block>
	<!-- BREADCRUMB -->
	<div id="breadcrumb">
		<div class="container">
			<ul class="breadcrumb">
				<li><a th:href="@{/index}">Beranda</a></li>
				<li><a th:href="@{/jualproduk}">Jasa</a></li>				
				<li><a th:href="@{/subjasa}">Desain</a></li>
				<li class="active">Desain Logo</li>
			</ul>
		</div>
	</div>
	<!-- /BREADCRUMB -->
	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
			
				<!-- Product Single -->
				<div class="col-md-4">
					<div class="product product-single product-hot">
						<div class="product-thumb">
						</div>
						<div class="product-body">
							<div class="section-title">
								<h4 class="title">Winner Siringo-ringo</h4>
							</div>
							<h4 class="product-price">$32.50</h4>
							<label for="shipping-1">Nomor Handphone : +6282387105770</label>								
							<p>Status Layanan <span class="label label-success">Tersedia</span></p> 
							<div class="product-btns">
								<a th:href="@{/reviewjasa}"><button class="primary-btn add-to-cart">Review Layanan</button></a>
								<button class="primary-btn add-to-cart">Pesan Layanan Ini</button>
							</div>
						</div>
					</div>
				</div>
				<!-- /Product Single -->
				
			</div>
		</div>
	</div>
</body>
</html>