<!-- Kelompok 06_PSI_2018 -->
<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>DelShop | Rincian Layanan Jasa</title>
	<link rel="stylesheet" th:href="@{css/font-awesome.min.css}"/>
	<th:block th:include="blank :: head"></th:block>
</head>
<body>
	<th:block th:include="blank :: header"></th:block>
	<th:block th:include="blank :: navigation2"></th:block>
	<!-- BREADCRUMB -->
	<div id="breadcrumb">
		<div class="container">
			<ul class="breadcrumb">
				<li><a th:href="@{/index}">Beranda</a></li>
				<li><a th:href="@{/jualproduk}">Produk</a></li>
				<li><a th:href="@{/jualproduk}">Desain</a></li>			
				<li class="active">Logo</li>				
			</ul>
		</div>
	</div>
	<div class="section" >
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- section title -->
				<div class="col-md-12">
					<div class="section-title">
						<h2 class="title">Daftar Layanan Jasa</h2>
					</div>
				</div>
				<!-- Product Single -->
				<div class="col-md-3" th:each="list : ${listjasa}" >
					<div class="product product-single" >
						<div class="product-body">
							<h3 class="product-price" th:text="${list.namajasa}"></h3>							
							<h2 class="product-name" th:text="${list.hargajasa}"></h2>
								<i><a th:href="@{'/reviewjasa/{id}'(id=${list.idjasa})}">
									<button type="button" class="main-btn icon-btn" class="fa fa-comment-o"></button>
								</a>
								</i>
								<i><a th:href="@{'/keranjangjasa/{id}'(id=${list.idjasa})}">
									<button type="button" class="main-btn icon-btn" class="fa fa-cart-plus"></button>
									</a>
								</i>
						</div>
					</div>
				</div>
				<!-- /Product Single -->
			</div>
			<!-- /row -->
			</div>
		</div>
	

	<!-- jQuery Plugins -->
	<script th:src="@{js/jquery.min.js}"></script>
	<script th:src="@{js/bootstrap.min.js}"></script>
	<script th:src="@{js/slick.min.js}"></script>
	<script th:src="@{js/nouislider.min.js}"></script>
	<script th:src="@{js/jquery.zoom.min.js}"></script>
	<script th:src="@{js/main.js}"></script>
</body>
</html>