<!-- Kelompok 06_PSI_2018 -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>DelShop | Tambah Layanan Jasa</title>
<th:block th:include="blank :: head"></th:block>
</head>
<body>
	<th:block th:include="blank :: header"></th:block>
	<th:block th:include="blank :: navigation3"></th:block>
	<!-- BREADCRUMB -->
	<div id="breadcrumb">
		<div class="container">
			<ul class="breadcrumb">
				<li><a th:href="@{/index}">Beranda</a></li>
				<li><a th:href="@{/jualjasa}">Layanan Jasa Anda</a></li>
				<li class="active">Tambah Layanan Jasa</li>
			</ul>
		</div>
	</div>
	<!-- /BREADCRUMB -->

	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!--  Product Details -->
				<form th:action="@{'/tambah/jasa/'+${session.user.id}}"
					method="post" enctype="multipart/form-data">
					<div class="product product-details clearfix">

						<div class="col-md-6">
							<div class="section-title">
								<h3 class="title">Rincian Layanan Jasa Baru</h3>
							</div>
							<table class="table">
								<tr>
									<th>Nama Jasa</th>
									<th>
										<div class="form-group">
											<input class="input" type="text" id="biaya"
												placeholder="deskripsi" name="namajasa">
										</div>
									</th>
								</tr>
								<tr>
									<th>Jenis Jasa</th>
									<th><select class="input search-categories"	name="jenisjasa">
											<option value="Desain">Desain</option>
											<option value="Editing">Editing</option>
											<option value="Les Musik">Les Musik</option>
											<option value="Tutorial">Tutorial</option>
									</select></th>
								</tr>
								<tr>
									<th>Deskripsi Jasa</th>
									<th>
										<div class="form-group">
											<input class="input" type="text" id="biaya"
												placeholder="deskripsi" name="deskripsijasa">
										</div>
									</th>
								</tr>
								<tr>
									<th>Biaya Layanan</th>
									<th>
										<div class="form-group">
											<input type="text" class="input" id="biaya" placeholder="Rp."
												name="hargajasa">
										</div>
									</th>
								</tr>
							</table>
							<div class="pull-right">
								<button class="primary-btn" type="submit">Batal</button>
								<button class="primary-btn" type="submit">Tambah
									Layanan Anda</button>
							</div>

						</div>
					</div>
				</form>
			</div>
			<!-- /Product Details -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
	</div>
	<!-- /section -->

	<th:block th:include="blank :: footer"></th:block>

	<!-- jQuery Plugins -->
	<script th:src="@{js/jquery.min.js}"></script>
	<script th:src="@{js/bootstrap.min.js}"></script>
	<script th:src="@{js/slick.min.js}"></script>
	<script th:src="@{js/nouislider.min.js}"></script>
	<script th:src="@{js/jquery.zoom.min.js}"></script>
	<script th:src="@{js/main.js}"></script>

</body>
</html>