<!-- Kelompok 06_PSI_2018 -->
<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>DelShop | Pembayaran </title>
	<link rel="stylesheet" th:href="@{css/font-awesome.min.css}"/>
	<th:block th:include="blank :: head"></th:block>
</head>
<body>
<th:block th:include="blank :: header"></th:block>
	<th:block th:include="blank :: navigation2"></th:block>
	<!-- BREADCRUMB -->
	<div id="breadcrumb">
		<div class="container">
			<ul class="breadcrumb">
				<li><a th:href="@{/index}">Beranda</a></li>	
				<li class="active">Pembayaran Jasa</li>				
			</ul>
		</div>
	</div>
	<!-- /BREADCRUMB -->	
	<!-- section -->
		<!-- section -->
	<div class="section" th:each="p:${pembayaran}">
		<!-- container -->
			<form th:action="@{'/pembayaranjasa/'+${p.idPemesananJasa}}" method="post">
			<div class="col-md-5">
				<div class="payments-methods">
					<div class="section-title">
						<h4 class="title">Metode Pembayaran</h4>
					</div>
					<div class="input-checkbox">
						<input type="radio" name="metode" id="payments-1" checked value="Transfer">
						<label for="payments-1">Bank Transfer</label>
						<div class="caption">
							<p> Anda dapat melakukan pembayaran dengan mentransfer
							ke nomor rekening <strong>999358023 (BNI)</strong> atas nama
							<strong>DelShop</strong>.
							<p>
						</div>
					</div>
					<div class="input-checkbox">
						<input type="radio" name="metode" id="payments-2" value="Bayar Langsung">
						<label for="payments-2">Pembayaran Langsung</label>
						<div class="caption">
							<p>Anda dapat melakukan pembayaran langsung ketika barang pesanan
							anda terima. Harap Sertakan Nomor Handphone aktif.
							<p>
						</div>
					</div>
				</div>
				
				<div class="shiping-methods">
					<div class="section-title">
						<h4 class="title">Metode Pengiriman</h4>
					</div>
					<div class="input-checkbox">
						<input type="radio" id="shipping-1">
						<label for="shipping-1">Pengantaran Jasa</label>
						<div class="caption">
							<p>Jasa yang telah anda pesan akan di antarkan sesuai dengan
							lokasi yang telah di sepakati. Silahkan masukkan lokasi pengantaran
							yang anda inginkan. Harap Sertakan Nomor Handphone aktif.
							<p>
								<div class="form-group">
									<input class="input" placeholder="lokasi pengantaran" name="rincian">
								</div>															
						</div>
					</div>
					<div class="input-checkbox">
						<input type="radio" id="shipping-2">
						<label for="shipping-2">Penjemputan Jasa</label>
						<div class="caption">
							<p>
							<p>						
								<div class="form-group">
									<input class="input" placeholder="lokasi penjemputan" name="rincian">
								</div>									
						</div>
					</div>
				</div>						
			<div class="pull-right">
				<button class="primary-btn">Batalkan</button>
				<button class="primary-btn">Proses Pesanan</button>
			</div>
			</div>
			</form>
		</div>
	</div>
</div>
</body>
</html>