<!-- Kelompok 06_PSI_2018 -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>DelShop | Pembayaran </title>
	<link rel="stylesheet" th:href="@{css/font-awesome.min.css}"/>
	<th:block th:include="blank :: head"></th:block>
</head>
<body>
<th:block th:include="blank :: header"></th:block>
	<th:block th:include="blank :: navigation2"></th:block>
	<!-- BREADCRUMB -->
	<div id="breadcrumb">
		<div class="container">
			<ul class="breadcrumb">
				<li><a th:href="@{/index}">Beranda</a></li>
				<li><a th:href="@{/keranjang}">Belanja Anda</a></li>		
				<li class="active">Pembayaran</li>				
			</ul>
		</div>
	</div>
	<!-- /BREADCRUMB -->
	
	
	<!-- section -->
	<div class="section" th:each="p:${pembayaran}">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
			<div class="col-md-7">
				<div class="section-title">
					<h3 class="title">Pesanan Anda</h3>					
				</div>
			<table class="shopping-cart-table table">
						<thead>
							<tr>
								<th>Produk</th>
								<th></th>
								
								<th class="text-center">Jumlah</th>
								<th class="text-center">Total Harga</th>
								<th class="text-right"></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="thumb"><img th:src="${'/gambar/'+p.fotoproduk}" alt=""></td>
								<td class="details">									
									<ul>
										<li><span><strong><p th:text="${p.namaproduk}"></p></strong></span></li>
									</ul>
								</td>
								
								<td class="qty text-center"><p th:text="${p.jumlah}"></p></td>
								<td class="total text-center"><strong class="primary-color"><p th:text="${p.totalharga}"></p></strong></td>								
							</tr>													
						</tbody>
						<tfoot>							
							<tr>
								<th class="empty" colspan="3"></th>
								<th>TOTAL</th>
								<th colspan="2" class="total"><p th:text="${p.totalharga}"></p></th>
							</tr>
						</tfoot>
					</table>
			</div>
			<form th:action="@{'/bayarproduk/'+${p.idPemesananProduk}}" method="post">
			<div class="col-md-5">
				<div class="payments-methods">
					<div class="section-title">
						<h4 class="title">Metode Pembayaran</h4>
					</div>
					<div class="input-checkbox">
						<input type="radio" name="metode" id="payments-1" checked value="Transfer">
						<label for="payments-1">Bank Transfer</label>
						<div class="caption">
							<p> Anda dapat melakukan pembayaran dengan mentransfer
							ke nomor rekening <strong>999358023 (BNI)</strong> atas nama
							<strong>DelShop</strong>.
							<p>
						</div>
					</div>
					<div class="input-checkbox">
						<input type="radio" name="metode" id="payments-2" value="Bayar Langsung">
						<label for="payments-2">Pembayaran Langsung</label>
						<div class="caption">
							<p>Anda dapat melakukan pembayaran langsung ketika barang pesanan
							anda terima.
							<p>
						</div>
					</div>
				</div>
				
				<div class="shiping-methods">
					<div class="section-title">
						<h4 class="title">Metode Pengiriman</h4>
					</div>
					<div class="input-checkbox">
						<input type="radio" id="shipping-1">
						<label for="shipping-1">Pengantaran Barang</label>
						<div class="caption">
							<p>Barang yang telah anda pesan akan di antarkan sesuai dengan
							lokasi yang telah di sepakati. Silahkan masukkan lokasi pengantaran
							yang anda inginkan.
							<p>
								<div class="form-group">
									<input class="input" placeholder="lokasi pengantaran" name="detailpengiriman">
								</div>															
						</div>
					</div>
					<div class="input-checkbox">
						<input type="radio" id="shipping-2">
						<label for="shipping-2">Penjemputan Barang</label>
						<div class="caption">
							<p>Barang yang telah anda pesan akan anda ambil sesuai dengan
							lokasi yang telah di sepakati. Silahkan masukkan lokasi penjemputan
							yang anda inginkan.
							<p>						
								<div class="form-group">
									<input class="input" placeholder="lokasi penjemputan" name="detailpengiriman">
								</div>									
						</div>
					</div>
				</div>						
			<div class="pull-right">
				<button class="primary-btn">Batalkan</button>
				<button class="primary-btn">Proses Pesanan</button>
			</div>
			</div>
			</form>
		</div>
	</div>
</div>
		<!-- jQuery Plugins -->
	<script th:src="@{js/jquery.min.js}"></script>
	<script th:src="@{js/bootstrap.min.js}"></script>
	<script th:src="@{js/slick.min.js}"></script>
	<script th:src="@{js/nouislider.min.js}"></script>
	<script th:src="@{js/jquery.zoom.min.js}"></script>
	<script th:src="@{js/main.js}"></script>
</body>
</html>