<!-- Kelompok 06_PSI_2018 -->
<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>DelShop | Edit Produk</title>
	<th:block th:include="blank :: head"></th:block>
</head>
<body>
	<th:block th:include="blank :: header"></th:block>
	<th:block th:include="blank :: navigation3"></th:block>
	<!-- BREADCRUMB -->
	<div id="breadcrumb">
		<div class="container">
			<ul class="breadcrumb">
				<li><a th:href="@{/index}">Beranda</a></li>
				<li><a th:href="@{/jualproduk}">Jual Produk</a></li>				
				<li class="active">Edit Produk</li>
			</ul>
		</div>
	</div>
	<!-- /BREADCRUMB -->
	
<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!--  Product Details -->
				<div class="product product-details clearfix">					
					<form th:action="@{'/edit/'+${idProduk}}" method="post">
					<div class="col-md-6">
						<div class="section-title">
							<h3 class="title">Edit Informasi Produk Anda</h3>
						</div>
						<table class="table">								
							<tr>
								<th>Harga Produk</th>
								<th>
									<div class="form-group">
										<input class="input" placeholder="Rp." name="harga">
									</div>
								</th>
							</tr>
							<tr>
								<th>Stok Produk</th>								
								<td class="qty text-center"><input class="input" name="stok" type="number" value="1"></td>								
							</tr>
							<tr>
								<th>Status Produk</th>
								<th>
									<select class="input search-categories" name="status">
										<option value="Ready">Tersedia</option>
										<option value="Tidak Ready">Tidak Tersedia</option>
									</select>
								</th>
							</tr>
						</table>
							<div class="pull-right">
								<button class="primary-btn">Batal</button>
								<button class="primary-btn">Simpan</button>
							</div>
						</div>
						</form>
					</div>				
				</div>
				<!-- /Product Details -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->
	
	<th:block th:include="blank :: footer"></th:block>
	
		<!-- jQuery Plugins -->
	<script th:src="@{js/jquery.min.js}"></script>
	<script th:src="@{js/bootstrap.min.js}"></script>
	<script th:src="@{js/slick.min.js}"></script>
	<script th:src="@{js/nouislider.min.js}"></script>
	<script th:src="@{js/jquery.zoom.min.js}"></script>
	<script th:src="@{js/main.js}"></script>
	
</body>
</html>