<!-- Kelompok 06_PSI_2018 -->
<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>DelShop | Jual Produk Anda</title>
	<link rel="stylesheet" th:href="@{css/font-awesome.min.css}"/>
	<th:block th:include="blank :: head"></th:block>
</head>
<body>
	<th:block th:include="blank :: header"></th:block>
	<th:block th:include="blank :: navigation3"></th:block>
	
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row --> 
			<div class="row">
				<!-- section-title -->
				<div class="col-sm-3">					
					<div class="section-title">
						<h3 class="title">Produk Anda</h3>						
					</div>
					<p> Klik tombol dibawah ini untuk menambahkan produk anda. </p>
					<a th:href="@{/tambahproduk}"><button class="primary-btn">Tambah Produk</button></a>
					<br><br>
					<p> Klik tombol dibawah ini untuk melihat penjualan produk anda.</p>
					<a th:href="@{'/pembayaran/'+${session.user.id}}"><button class="primary-btn">Penjualan Produk</button></a>
				</div>
				<div class="col-sm-9">				
					<div class="order-summary clearfix">					
					<table class="shopping-cart-table table">
						<thead>
							<tr>
								<th><br></th>
								<th></th>																
								<th class="text-right"></th>
								<th class="text-right"></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="produk : *{listProduk}" >
								<td class="thumb"><img th:src="${'/gambar/'+produk.fotoProduk}" alt=""></td>
								<td class="details">
									<a th:text="${produk.namaProduk}"></a>
								</td>
								<td></td>							
								<td class="text-center"><a th:href="@{'/editproduk/'+${produk.idProduk}}"><button class="primary-btn">Edit</button></a></td>
								<td class="text-center"><a th:href="@{'/rincianproduk/'+${produk.idProduk}}"><button class="primary-btn">Informasi Produk</button></a></td>								
								<td class="text-center"><a th:href="@{'/hapus/'+${produk.idProduk}}"><button class="primary-btn">Hapus</button></a></td>
							</tr>							
						</tbody>						
					</table>					
				</div>				
				</div>
			</div>
		</div>
	</div>
	
		<!-- jQuery Plugins -->
	<script th:src="@{js/jquery.min.js}"></script>
	<script th:src="@{js/bootstrap.min.js}"></script>
	<script th:src="@{js/slick.min.js}"></script>
	<script th:src="@{js/nouislider.min.js}"></script>
	<script th:src="@{js/jquery.zoom.min.js}"></script>
	<script th:src="@{js/main.js}"></script>

</body>
</html>