<!-- Kelompok 06_PSI_2018 -->
<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>DelShop | Produk Detail </title>
	<th:block th:include="blank :: head"></th:block>
</head>
<body>
	<th:block th:include="blank :: header"></th:block>
	<th:block th:include="blank :: navigation2"></th:block>
	<!-- BREADCRUMB -->
	<div id="breadcrumb">
		<div class="container">
			<ul class="breadcrumb">
				<li><a th:href="@{/index}">Beranda</a></li>
				<li><a th:href="@{/jualproduk}">Produk</a></li>
				<li><a th:href="@{/jualproduk}">Sepatu</a></li>			
				<li class="active">Blue Nike Shoes</li>				
			</ul>
		</div>
	</div>
	<!-- /BREADCRUMB -->
	<div class="section">
		<div class= "container">
			<div class="row">
				<div th:object="${revprod}">		
				<div class="col-md-4">
					<div id="product-main-view">
						<img th:src="'/gambar/'+*{fotoProduk}" alt="">							
					</div>							
				</div>
				<div class="col-md-5">
						<div class="product-body">							
							<p></p><h2 class="product-name" th:text="*{namaProduk}"></h2>																					
							<p th:text="*{deskripsiProduk}"></p>
								<ul class="color-option">
									<li><span class="text-uppercase">Color:</span></li>
									<li class="active"><a href="#" style="background-color:#475984;"></a></li>
									<li><a href="#" style="background-color:#8A2454;"></a></li>
									<li><a href="#" style="background-color:#BF6989;"></a></li>
									<li><a href="#" style="background-color:#9A54D8;"></a></li>
								</ul>
							</div>							
						</div>
					<div class="col-md-3">
						<div class="product-btns">								
							<button class="primary-btn add-to-cart btn-block"><i class="fa fa-shopping-cart"></i>Pesan</button>								
						</div>
						<br>
						<div class="panel panel-default">
  							<div class="panel-body text-center">
  								<a th:href="@{'/review/'+${id}}"><h5><strong class="primary-color">TINJAUAN PRODUK</strong></h5></a>
  							</div>
						</div>
						</div>						
					</div>
					</div>
					</div>
					</div>
					
	<!-- jQuery Plugins -->
	<script th:src="@{js/jquery.min.js}"></script>
	<script th:src="@{js/bootstrap.min.js}"></script>
	<script th:src="@{js/slick.min.js}"></script>
	<script th:src="@{js/nouislider.min.js}"></script>
	<script th:src="@{js/jquery.zoom.min.js}"></script>
	<script th:src="@{js/main.js}"></script>
</body>
</html>