<!-- Kelompok 06_PSI_2018 -->
<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>DelShop | Tambah Produk</title>
	<th:block th:include="blank :: head"></th:block>
</head>
<body>
	<th:block th:include="blank :: header"></th:block>
	<th:block th:include="blank :: navigation3"></th:block>
	<!-- BREADCRUMB -->
	<div id="breadcrumb">
		<div class="container">
			<ul class="breadcrumb">
				<li><a th:href="@{/index}">Beranda</a></li>
				<li><a th:href="@{/jualproduk}">Jual Produk</a></li>				
				<li class="active">Tambah Produk</li>
			</ul>
		</div>
	</div>
	<!-- /BREADCRUMB -->
	
<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!--  Product Details -->
				<div class="product product-details clearfix">					
					<form th:action="@{'/tambah/produk/'+${session.user.id}}" method ="post" enctype="multipart/form-data">
					<div class="col-md-6">
						<div class="section-title">
							<h3 class="title">Rincian Produk Baru</h3>
						</div>
						<table class="table">								
							<tr>
								<th>Nama Produk</th>
								<th>
									<div class="form-group">
										<input class="input" name="namaproduk" placeholder="Nama Produk Anda">
									</div>
								</th>										
							</tr>
							<tr>
								<th>Kategori Produk</th>
								<th>
									<select class="input search-categories" name="idkategori">
										<option value="">Kategori Produk Anda</option>
										<option value="1">Buku</option>
										<option value="2">Kesehatan</option>
										<option value="3">Komputer & Aksesoris </option>
										<option value="4">Laptop & Aksesoris</option>
										<option value="5">Makanan & Minuman</option>
										<option value="6">Olahraga</option>
										<option value="7">Pakaian</option>
										<option value="8">Sayur & Buah</option>
										<option value="9">Sourvenir & Kado</option>
										<option value="10">Perangkat Lunak</option>
									</select>
								</th>
							</tr>								
							<tr>
								<th>Ciri Produk</th>
								<th>
									<div class="form-group">
										<input class="input" name="ciriproduk" placeholder="Ciri Produk Anda">
									</div>
								</th>
							</tr>
							<tr>
								<th>Harga Produk</th>
								<th>
									<div class="form-group">
										<input class="input" placeholder="Rp." name="harga">
									</div>
								</th>
							</tr>
							<tr>
								<th>Stok Produk</th>								
								<td class="qty text-center"><input class="input" type="number" value="1" name="stok"></td>								
							</tr>
							<tr>
								<th>Deskripsi Produk</th>
								<th>
									<div class="form-group">
										<input class="input" placeholder="Deskripsi Produk Anda" name="deskripsi">
									</div>
								</th>
							</tr>					
							<tr>
								<th>Gambar Produk</th>
								<th>
									<div class="form-group">
										<input class="input" type="file" name="fotoproduk"></>
									</div>										
								</th>
							</tr>
						</table>
							<div class="pull-right">
								<button class="primary-btn" type="submit">Batal</button>
								<button class="primary-btn" type="submit">Tambah Produk Anda</button>
							</div>
						</div>
						</form>
					</div>				
				</div>
				<!-- /Product Details -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->
	
	<th:block th:include="blank :: footer"></th:block>
	
		<!-- jQuery Plugins -->
	<script th:src="@{js/jquery.min.js}"></script>
	<script th:src="@{js/bootstrap.min.js}"></script>
	<script th:src="@{js/slick.min.js}"></script>
	<script th:src="@{js/nouislider.min.js}"></script>
	<script th:src="@{js/jquery.zoom.min.js}"></script>
	<script th:src="@{js/main.js}"></script>
	
</body>
</html>