<!-- Kelompok 06_PSI_2018 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>DelShop | Online Shop for Del</title>
	
	<link href="https://fonts.googleapis.com/css?family=Hind:400,700" rel="stylesheet">
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
	<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}"/>
	<link rel="stylesheet" th:href="@{/css/fv.css}"/>
	<link rel="stylesheet" th:href="@{/css/nouislider.min.css}"/>
	<link rel="stylesheet" th:href="@{/css/slick-theme.css}"/>
	<link rel="stylesheet" th:href="@{/css/slick.css}"/>
	<link rel="stylesheet" th:href="@{/css/style.css}"/>
	
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/fv.min.js}"></script>
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/jquery.zoom.min.js}"></script>
	<script th:src="@{/js/main.js}"></script>
	<script th:src="@{/js/nouislider.min.js}"></script>
	<script th:src="@{/js/slick.min.js}"></script>
</head>
<body>
<!-- HEADER -->
	<header th:fragment="header">
		<!-- top Header -->
		<div id="top-header">
			<div class="container">
				<div class="pull-left">
					<span>Welcome to DelShop!</span>
				</div>				
			</div>
		</div>
		<!-- /top Header -->
		<!-- header -->
		<div id="header">		
			<div class="container">
				<div class="pull-left">
					<!-- Logo -->
					<div class="header-logo">
						<a class="logo" th:href="@{/index}">
							<img src="./img/logo.png" alt="">
						</a>
					</div>
					<!-- /Logo -->			
				</div>
				<div class="pull-right">
					<ul class="header-btns">
						<!-- Account -->
						<li class="header-account dropdown default-dropdown">
							<div th:object="${session.user}" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="true">
								<div class="header-btns-icon">
									<i class="fa fa-user-o"></i>
								</div>
								<strong class="text-uppercase">akun anda</p><i class="fa fa-caret-down"></i></strong>
							</div>
							<ul class="custom-menu">
								<li><a th:href="@{'/profiluser/'+${session.user.id}}"><i class="fa fa-user-o"><p th:text="*{namaDepan}"></p></i></a></li>						
								<li><a th:href="@{/logout}"><i class="fa fa-unlock-alt"></i>Logout</a></li>
							</ul>
						</li>
						<!-- /Account -->

						<!-- Cart -->
						<li class="header-cart dropdown default-dropdown">
							<div class="dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="true">
								<div class="header-btns-icon">
									<i class="fa fa-shopping-cart"></i>										
								</div>
								<strong class="text-uppercase">Belanja Anda<i class="fa fa-caret-down"></i></strong>														
							</div>
							<ul class="custom-menu">													
								<li><a th:href="@{/keranjang}"> Belanja Produk</a></li>
								<li><a th:href="@{/keranjangjasa}"> Pesanan Jasa</a></li>
							</ul>											
						</li>
						<!-- /Cart -->

						<!-- Mobile nav toggle-->
						<li class="nav-toggle">
							<button class="nav-toggle-btn main-btn icon-btn"><i class="fa fa-bars"></i></button>
						</li>
						<!-- / Mobile nav toggle -->
					</ul>
				</div>
			</div>
			<!-- header -->
		</div>
		<!-- container -->
	</header>
	<!-- /HEADER -->
	
	<div th:fragment="navigation">
	<!-- NAVIGATION -->
	<div id="navigation">
		<!-- container -->
		<div class="container">
			<div id="responsive-nav">
				<!-- category nav -->
				<div class="category-nav">
					<span class="category-header">Kategori<i class="fa fa-list"></i></span>
					<ul class="category-list">
						<li><a href="#">Buku</a></li>
						<li><a href="#">Kesehatan</a></li>
						<li><a href="#">Komputer & Aksesoris </a></li>						
						<li><a href="#">Makanan & Minuman </a></li>
						<li><a href="#">Olahraga</a></li>
						<li><a href="#">Pakaian</a></li>
						<li><a href="#">Sayur & Buah </a></li>
						<li><a href="#">Sepatu</a></li>
						<li><a href="#">Sourvenir & Kado</a></li>
						<li><a href="#">Perangkat Lunak</a></li>
					</ul>
				</div>
				<!-- /category nav -->
				
				<!-- menu nav -->
				<div class="menu-nav">
					<span class="menu-header">Menu <i class="fa fa-bars"></i></span>
					<ul class="menu-list">
						<li><a th:href="@{/index}">Beranda</a></li>
						<li><a th:href="@{/index}">Produk</a></li>						
						<li><a th:href="@{/indexjasa}">Jasa</a></li>
						<li><a th:href="@{'/jualproduk/'+${session.user.id}}">Penjualan</a></li>
					</ul>
				</div>
				<!-- menu nav -->
			</div>
		</div>
		<!-- /container -->
	</div>
	<!-- /NAVIGATION -->
	</div>
	
<div th:fragment="navigation2">
<!-- NAVIGATION -->
	<div id="navigation">
		<!-- container -->
		<div class="container">
			<div id="responsive-nav">
				<!-- category nav -->
				<div class="category-nav show-on-click">
					<span class="category-header">Kategori <i class="fa fa-list"></i></span>
					<ul class="category-list">
						<li><a href="#">Buku</a></li>
						<li><a href="#">Kesehatan</a></li>
						<li><a href="#">Komputer & Aksesoris </a></li>						
						<li><a href="#">Makanan & Minuman </a></li>
						<li><a href="#">Olahraga</a></li>
						<li><a href="#">Pakaian</a></li>
						<li><a href="#">Sayur & Buah </a></li>
						<li><a href="#">Sepatu</a></li>
						<li><a href="#">Sourvenir & Kado</a></li>
						<li><a href="#">Perangkat Lunak</a></li>																													
					</ul>
				</div>
				<!-- /category nav -->
				
				<!-- menu nav -->
				<div class="menu-nav">
					<span class="menu-header">Menu <i class="fa fa-bars"></i></span>
					<ul class="menu-list">
						<li><a th:href="@{/index}">Beranda</a></li>
						<li><a th:href="@{/index}">Produk</a></li>						
						<li><a th:href="@{/indexjasa}">Jasa</a></li>					
					</ul>
				</div>
				<!-- menu nav -->		
			</div>
		</div>
		<!-- /container -->
	</div>
	<!-- /NAVIGATION -->
</div>

<div th:fragment="navigation3">
<!-- NAVIGATION -->
	<div id="navigation">
		<!-- container -->
		<div class="container">
			<div id="responsive-nav">
				<!-- category nav -->
				<div class="category-nav show-on-click">
					<span class="category-header">Kategori <i class="fa fa-list"></i></span>
					<ul class="category-list">
						<li><a href="#">Buku</a></li>
						<li><a href="#">Kesehatan</a></li>
						<li><a href="#">Komputer & Aksesoris </a></li>						
						<li><a href="#">Makanan & Minuman </a></li>
						<li><a href="#">Olahraga</a></li>
						<li><a href="#">Pakaian</a></li>
						<li><a href="#">Sayur & Buah </a></li>
						<li><a href="#">Sepatu</a></li>
						<li><a href="#">Sourvenir & Kado</a></li>
						<li><a href="#">Perangkat Lunak</a></li>																													
					</ul>
				</div>
				<!-- /category nav -->
				
				<!-- menu nav -->
				<div class="menu-nav">
					<span class="menu-header">Menu <i class="fa fa-bars"></i></span>
					<ul class="menu-list">
						<li><a th:href="@{/index}">Beranda</a></li>
						<li><a th:href="@{'/jualproduk/'+${session.user.id}}">Produk Anda</a></li>
						<li><a th:href="@{'/jualjasa/'+${session.user.id}}">Layanan Jasa Anda</a></li>								
						<li><a th:href="@{'/riwayatproduk/'+${session.user.id}}">Riwayat Pembelian Produk</a></li>
						<li><a th:href="@{'/riwayatjasa/'+${session.user.id}}">Riwayat Pembelian Jasa</a></li>
					</ul>
				</div>
				<!-- menu nav -->		
			</div>
		</div>
		<!-- /container -->
	</div>
	<!-- /NAVIGATION -->
</div>
	
	<!-- FOOTER -->
	<footer th:fragment="footer" class="section section-grey" >
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- footer widget -->
				<div class="col-md-3 col-sm-6 col-xs-6">
						<!-- footer logo -->
						<div class="footer-logo">
							<a class="logo" href="#"> <img src="./img/logo.png" alt=""></a>
						</div>
						<!-- /footer logo -->

						<!-- footer social -->
						<ul class="footer-social">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-instagram"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
						</ul>
						<!-- /footer social -->
					</div>
				<!-- /footer widget -->

				<!-- footer widget -->
				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="footer">
						<h3 class="footer-header">Layanan Kami</h3>
						<ul class="list-links">
							<li><a href="#">Tentang Kami</a></li>
							<li><a href="#">Syarat & Ketentuan</a></li>
							<li><a href="#">Kebijakan Privasi</a></li>
							<li><a href="#">Hubungi Kami</a></li>							
						</ul>
					</div>
				</div>
				<!-- /footer widget -->

				<div class="clearfix visible-sm visible-xs"></div>

				<!-- footer widget -->
				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="footer">
						<h3 class="footer-header">Jual Beli</h3>
						<ul class="list-links">
							<li><a href="#">Cara Jual Beli DelShop</a></li>
							<li><a href="#">Pembayaran</a></li>							
							<li><a href="#">FAQ</a></li>
						</ul>
					</div>
				</div>
				<!-- /footer widget -->
			</div>
			<!-- /row -->
			
			<hr>
			<!-- row -->
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<!-- footer copyright -->
					<div class="footer-copyright">
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Website ini dibuat dengan <i class="fa fa-heart-o" aria-hidden="true"></i> oleh <a href="https://colorlib.com" target="_blank">Kelompok 06</a>
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					</div>
					<!-- /footer copyright -->
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</footer>
	<!-- /FOOTER -->
	
</body>
</html>