<!-- Kelompok 06_PSI_2018 -->
<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>DelShop With Spring</title>
	<link rel="stylesheet" th:href="@{css/font-awesome.min.css}"/>
	<th:block th:include="blank :: head"></th:block>
</head>

<body>
	<th:block th:include="blank :: header"></th:block>
	<th:block th:include="blank :: navigation"></th:block>
	
	<div id="home">
		<!-- container -->
		<div class="container">
			<!-- home wrap -->
			<div class="home-wrap">
				<!-- home slick -->
				<div id="home-slick">
					<!-- banner -->
					<div class="banner banner-1">
						<img src="./img/banner01.jpg" alt="">
						<div class="banner-caption text-center">
							
						</div>
					</div>
					<!-- /banner -->

					<!-- banner -->
					<div class="banner banner-1">
						<img src="./img/banner02.jpg" alt="">
						<div class="banner-caption">
							
						</div>
					</div>
					<!-- /banner -->

					<!-- banner -->
					<div class="banner banner-1">
						<img src="./img/banner03.jpg" alt="">
						<div class="banner-caption">
						</div>
					</div>
					<!-- /banner -->
				</div>
				<!-- /home slick -->
			</div>
			<!-- /home wrap -->
		</div>
		<!-- /container -->
	</div>
	<!-- /HOME -->
	
	<!-- section -->
	<div class="section" >
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- section title -->
				<div class="col-md-12">
					<div class="section-title">
						<h2 class="title">Produk</h2>
					</div>
				</div>
				<!-- Product Single -->
				<div class="col-md-4" th:each="produk: *{listProduk}" >
					<div class="product product-single" >
						<div class="product-thumb">														
							<img th:src="'/gambar/'+${produk.fotoProduk}" alt="" style="height:200px;width:200px">
						</div>
						<div class="product-body">
							<h3 class="product-price" th:text="${produk.namaProduk}"></h3>							
							<h2 class="product-name" th:text="${produk.hargaProduk}"></h2>
								<i><a th:href="@{'/review/{id}'(id=${produk.idProduk})}">
									<button type="button" class="main-btn icon-btn" class="fa fa-comment-o"></button>
								</a>
								</i>
								<i><a th:href="@{'/keranjangproduk/{id}'(id=${produk.idProduk})}">
									<button type="button" class="main-btn icon-btn" class="fa fa-cart-plus"></button>
									</a>
								</i>
								<i><a th:href="@{'/rincianproduk/{id}'(id=${produk.idProduk})}">
									<button type="button" class="main-btn icon-btn" class="fa fa-eye""></button>
									</a>
								</i>
						</div>
					</div>
				</div>
				<div th:replace="/pagination :: pagination(URLparameter = '/index')"></div>
				<!-- /Product Single -->
			</div>
			<!-- /row -->
			</div>
		</div>
		
		<!-- /section -->
	<th:block th:include="blank :: footer"></th:block>
	<!-- jQuery Plugins -->
	<script th:src="@{js/jquery.min.js}"></script>
	<script th:src="@{js/bootstrap.min.js}"></script>
	<script th:src="@{js/slick.min.js}"></script>
	<script th:src="@{js/nouislider.min.js}"></script>
	<script th:src="@{js/jquery.zoom.min.js}"></script>
	<script th:src="@{js/main.js}"></script>

</body>
</html>