<!-- Kelompok 06_PSI_2018 -->
<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>DelShop | Jual Produk Anda</title>
	<link rel="stylesheet" th:href="@{css/font-awesome.min.css}"/>
	<th:block th:include="blank :: head"></th:block>
<body>
	<th:block th:include="blank :: header"></th:block>
	<th:block th:include="blank :: navigation3"></th:block>
	
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row --> 
			<div class="row">
				<!-- section-title -->
				<div class="col-sm-9">				
					<div class="order-summary clearfix">					
				</div>				
				</div>
				
			</div>
		</div>
	</div>
		<div class="section" >
		<!-- container -->
		<div class="container">
			<!-- row --> 
			<div class="row">
				<!-- section-title -->
				<div class="col-sm-9">				
					<div class="order-summary clearfix">					
					<table class="shopping-cart-table table">
						<thead>
							<tr>															
								<th class="text-center">Nama Pemesan</th>
								<th class="text-center">Metode</th>
								<th class="text-center">Status Pembayaran</th>
								<th class="text-center">Deskripsi Pesanan</th>
								<th class="text-center">Tanggal Bayar</th>
								<th class="text-center">Proses Sekarang</th>
								
								
							</tr>
						</thead>
						<tbody>
							<tr  th:each="r:${pembayaran}">
								<td class="text-center"><a th:text = "${session.user.namaDepan}"></a></td>
								<td class="text-center"><a th:text = "${r.metodePembayaran}"></a></td>
								<td class="text-center"><a th:text = "${r.status_pembayaran}"></a></td>
								<td class="text-center"><a th:text = "${r.detailPembayaranProduk}"></a></td>
								<td class="text-center"><a th:text = "${r.tanggalPembayaran}"></a></td>
								<td class="text-center"><a th:href="@{'/konfirmasi/'+${r.idPembayaranProduk}}"><button class="btn btn-warning">Proses</button></a></td>
								
							</tr>							
						</tbody>						
					</table>					
				</div>				
				</div>
			</div>
		</div>
	</div>
		<!-- jQuery Plugins -->
	<script th:src="@{js/jquery.min.js}"></script>
	<script th:src="@{js/bootstrap.min.js}"></script>
	<script th:src="@{js/slick.min.js}"></script>
	<script th:src="@{js/nouislider.min.js}"></script>
	<script th:src="@{js/jquery.zoom.min.js}"></script>
	<script th:src="@{js/main.js}"></script>

</body>
</html>