<!-- Kelompok 06_PSI_2018 -->
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>DelShop | Login</title>
  <link rel="stylesheet" type="text/css" th:href="@{logincss/css/style.css}">
  <script>
    window.console = window.console || function(t) {};
    window.open = function(){ console.log('window.open is disabled.'); };
    window.print = function(){ console.log('window.print is disabled.'); };
    if (false) {
      window.ontouchstart = function(){};
    }
  </script>
</head>

<body>
<center><a class="logo" th:href="@{/login}"><img src="./img/logo.png" width="231px;"></a></center>
  <div class="wrapper">
	<div class="container">
	<h1>Masuk Akun Anda</h1>
		<form class="form" th:action="@{/user/login}" method="post">
			<input type="text" name="email" placeholder="Email" />
			<input type="password" name="password" placeholder="Password" />
			<button type="submit" id="login-button">Masuk</button>
		</form>
		<a th:href="@{/register}"><button type="submit" id="login-button">Daftar</button></a>
	</div>
</div>

  <script th:src='@{logincss/js/jquery.js}'></script>
  <script>
    if (document.location.search.match(/type=embed/gi)) {
      window.parent.postMessage('resize', "*");
    }
  </script>

  <script src="js/timeout.js"></script>
  </body>
</html>
