<!-- Kelompok 06_PSI_2018 -->
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="UTF-8">
  <title>DelShop | Register</title>
  <link rel="stylesheet" type="text/css" th:href="@{logincss/css/style.css}">

  <script>
    window.console = window.console || function(t) {};
    window.open = function(){ console.log('window.open is disabled.'); };
    window.print = function(){ console.log('window.print is disabled.'); };
    if (false) {
      window.ontouchstart = function(){};
    }
  </script>

</head>

<body>
<center><a class="logo" th:href="@{/index}"><img src="./img/logo.png" width="231px;"></a></center>
  <div class="wrapper">
	<div class="container">	
	<h1>Buat Akun Anda</h1>

    <form autocomplete="off" action="#" th:action="@{/register}"
          th:object="${user}" method="post" class="m-t" role="form"
          data-toggle="validator">
          <div th:if="${confirmationMessage}" class="alert alert-success"
            role="alert" th:text=${confirmationMessage}></div>

          <div th:if="${alreadyRegisteredMessage}"
            class="alert alert-danger" role="alert"
            th:text="${alreadyRegisteredMessage}"></div>

          <div th:if="${#fields.hasErrors('namaDepan')}"
            th:errors="*{namaDepan}"
            class="validation-message alert alert-danger" role="alert"></div>
          <div th:if="${#fields.hasErrors('namaBelakang')}"
            th:errors="*{namaBelakang}"
            class="validation-message alert alert-danger" role="alert"></div>
          <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
            class="validation-message alert alert-danger" role="alert"></div>
          <div th:if="${#fields.hasErrors('password')}"
            th:errors="*{password}"
            class="validation-message alert alert-danger" role="alert"></div>

          <div class="form-group input-group has-feedback full-width m-b">
            <label th:if="${#fields.hasErrors('namaDepan')}"
              th:errors="*{namaDepan}" class="validation-message"></label>
            <input type="text" th:field="*{namaDepan}"
              placeholder="Nama Depan" class="form-control" required />
            <span class="glyphicon form-control-feedback"
              aria-hidden="true"></span>
          </div>

          <div class="form-group input-group has-feedback full-width m-b">
            <input type="text" th:field="*{namaBelakang}"
              placeholder="Nama Belakang" class="form-control" required />
            <span class="glyphicon form-control-feedback"
              aria-hidden="true"></span>
          </div>

          <div class="form-group input-group has-feedback full-width m-b">
            <input type="email" th:field="*{email}"
              placeholder="Email Address" class="form-control"
              data-error="This email address is invalid" required />
            <span class="glyphicon form-control-feedback"
              aria-hidden="true"></span>
          </div>
          <div class="form-group input-group has-feedback full-width m-b">
            <input type="text" th:field="*{noTelp}"
              placeholder="No telefon" class="form-control"
              data-error="no telefon salah" required />
            <span class="glyphicon form-control-feedback"
              aria-hidden="true"></span>
          </div>
          
          <button type="submit"
            class="btn btn-primary block full-width m-b">Daftar</button>
        </form>
	</div>

	<!--- for more background effect, just  delete this comment line, thank you

	<ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>

	-->
</div>

  <script th:src='@{logincss/js/jquery.js}'></script>
  <script>
    if (document.location.search.match(/type=embed/gi)) {
      window.parent.postMessage('resize', "*");
    }
  </script>

  <script src="@{logincss/js/timeout.js}"></script>
  <script>
    $('#login-button').click(function (event) {
    event.preventDefault();
    $('form').fadeOut(800);
    $('.wrapper').addClass('form-success');
});

  </script>

</body>

</html>
