<!-- Kelompok 06_PSI_2018 -->
<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>DelShop | Jual Produk Anda</title>
	<link rel="stylesheet" th:href="@{css/font-awesome.min.css}"/>
	<th:block th:include="blank :: head"></th:block>
</head>
<body>
	<th:block th:include="blank :: header"></th:block>
	<th:block th:include="blank :: navigation3"></th:block>
	
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row --> 
			<div class="row">
				<!-- section-title -->
				<div class="section-title">
					<h3 class="title">Riwayat Pemesanan Jasa</h3>					
				</div>
				<div class="col-sm-9">				
					<div class="order-summary clearfix">					
					<table class="shopping-cart-table table">
						<thead>
							<tr>
								<th class="text-center">Nama Pemesan</th>
								<th class="text-center">Nama Jasa</th>												
								<th class="text-center">Catatan</th>
								<th class="text-center">Status</th>
								<th class="text-center">Aksi</th>					
							</tr>
						</thead>
						<tbody>
							<tr th:each="r : ${riwayat}" th:object="${jasa}">
								<td class="text-center"><a th:text = "${session.user.namaDepan}"></a></td>
								<td class="text-center"><a th:text = "${nama_jasa}"></a></td>
								<td class="text-center"><a th:text = "${r.statusPemesananJasa}"></a></td>
								<td class="text-center"><a th:text = "${r.catatan}"></a></td>
								<td th:if="${r.statusPemesananJasa == 'Menunggu Pembayaran'}" class="text-center"><a th:href="@{'/pembayaranj/'+${r.idPemesananJasa}}"><button class="btn btn-success">Bayar</button></a></td>	
							</tr>							
						</tbody>						
					</table>										
				</div>				
				</div>
			</div>
		</div>
	</div>
	
		<!-- jQuery Plugins -->
	<script th:src="@{js/jquery.min.js}"></script>
	<script th:src="@{js/bootstrap.min.js}"></script>
	<script th:src="@{js/slick.min.js}"></script>
	<script th:src="@{js/nouislider.min.js}"></script>
	<script th:src="@{js/jquery.zoom.min.js}"></script>
	<script th:src="@{js/main.js}"></script>

</body>
</html>