﻿<!-- Kelompok 06_PSI_2018 -->
<DOCTYPE html>
﻿<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>DelShop | Profil Anda</title>
	<link rel="stylesheet" th:href="@{../logincss/images}"/>
	<th:block th:include="blank :: head"></th:block>
</head>
<body>
	<th:block th:include="blank :: header"></th:block>
	<th:block th:include="blank :: navigation3"></th:block>
    
    <!-- NAVBAR CODE END -->
    <div class="container">
        <section style="padding-bottom: 50px; padding-top: 50px;">
            <div class="row">
                <div class="col-md-4" th:object="${profiluser}"  >
		           	<img th:src="'/fotoprofil/'+*{fotoProfil}" style="height:100px;width:100px" alt="">
                    <br />
                    <br />
                     <form th:action="@{'/profiluser/'+${session.user.id}}" method="post" enctype="multipart/form-data">   			
                    	<label>Nama depan</label>
                    	<input type="text" class="form-control" th:field="*{namaDepan}" placeholder="nama depan" >
                    	<label>Nama belakang</label>
                    	<input type="text" class="form-control" th:field="*{namaBelakang}" placeholder="nama belakang" >
                    	<label>Foto Profil</label>
                    	<input type="file" name="fotoprofil" placeholder="foto">
                    	<br>
							<button type="submit" class="btn btn-success">Update</button>
                    <br /><br/>
                	</form>
                    
                </div>     
                <div class="col-md-8">
                    <div class="alert alert-info">
                        <h2>User Bio : </h2>
                        <h4>Bootstrap user profile template </h4>
                        <p>
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                             3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                        </p>
                    </div>
                    <div >
                        <a href="#" class="btn btn-social btn-facebook">
                            <i class="fa fa-facebook"></i>&nbsp; Facebook</a>
                        <a href="#" class="btn btn-social btn-google">
                            <i class="fa fa-google-plus"></i>&nbsp; Google</a>
                        <a href="#" class="btn btn-social btn-twitter">
                            <i class="fa fa-twitter"></i>&nbsp; Twitter </a>
                        <a href="#" class="btn btn-social btn-linkedin">
                            <i class="fa fa-linkedin"></i>&nbsp; Linkedin </a>
                    </div>
                    <div class="form-group col-md-8">
                        <h3>Change YOur Password</h3>
                        <br />
                        <label>Enter Old Password</label>
                        <input type="password" class="form-control">
                        <label>Enter New Password</label>
                        <input type="password" class="form-control">
                        <label>Confirm New Password</label>
                        <input type="password" class="form-control" />
                        <br>
                        <a href="#" class="btn btn-warning">Change Password</a>
                    </div>
                </div>
            </div>
            <!-- ROW END -->


        </section>
        <!-- SECTION END -->
    </div>
    <!-- CONATINER END -->

    <!-- REQUIRED SCRIPTS FILES -->
    <!-- CORE JQUERY FILE -->
    <script th:src="@{/assets/js/jquery-1.11.1.js}"></script>
    <!-- REQUIRED BOOTSTRAP SCRIPTS -->
    <script src="@{/assets/js/bootstrap.js}"></script>
</body>

</html>
