<!-- Kelompok 06_PSI_2018 -->
<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>DelShop | Keranjang Belanja</title>
	<link rel="stylesheet" th:href="@{css/font-awesome.min.css}"/>
	<th:block th:include="blank :: head"></th:block>
</head>
<body>
	<th:block th:include="blank :: header"></th:block>
	<th:block th:include="blank :: navigation3"></th:block>
	<!-- BREADCRUMB -->
	<div id="breadcrumb">
		<div class="container">
			<ul class="breadcrumb">
				<li><a href="#">Beranda</a></li>
				<li class="active">Belanja Anda</li>
			</ul>
		</div>
	</div>
	<!-- /BREADCRUMB -->
	
	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<div class="col-md-10" th:each="produk : *{pesan}">
			<form th:action="@{'/pesanproduk/'+${produk.idProduk}}" method="post">
				<div class="order-summary clearfix">
					<div class="section-title">
						<h3 class="title">Rincian Pesanan Anda</h3>
					</div>
					<table class="shopping-cart-table table">
						<thead>
							<tr>
								<th>Produk</th>
								<th></th>
								<th class="text-center"></th>
								<th class="text-center">Total Harga</th>
								<th class="text-right"></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="product-thumb">														
									<img th:src="'/gambar/'+${produk.fotoProduk}" alt="" style="height:200px;width:200px">
								</td>
								<td class="details">
									<p th:text="${produk.namaProduk}"></p>
								</td>
								<td class="qty text-center"><input class="input" type="number" value="1" name="jumlah"></td>
								<td class="total text-center"><strong class="primary-color"><p th:text="${produk.hargaProduk}"></p></strong></td>
								</td>
							</tr>														
						</tbody>
						<tfoot>
							<tr>
								<th class="empty" colspan="3"></th>
								<th>Ada Pesan ?</th>
								<th colspan="2" class="sub-total"><input type="text" name="ciriproduk"></input></th>
							</tr>							
						</tfoot>
					</table>
					<div class="pull-right">
						<button class="primary-btn" type="submit">Pesan</button>
					</div>
				</div>
			</form>
			</div>
			</div>
			</div>
			<th:block th:include="blank :: footer"></th:block>
	
		<!-- jQuery Plugins -->
	<script th:src="@{js/jquery.min.js}"></script>
	<script th:src="@{js/bootstrap.min.js}"></script>
	<script th:src="@{js/slick.min.js}"></script>
	<script th:src="@{js/nouislider.min.js}"></script>
	<script th:src="@{js/jquery.zoom.min.js}"></script>
	<script th:src="@{js/main.js}"></script>
</body>
</html>